In [46]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [47]:
#Calculating total number of players using the len function
total_players=len(purchase_df["SN"].value_counts())
total_players

576

In [48]:
#creating new dataframe with total_players
total_players_df=pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Display the summary data frame

In [49]:
#calculating unique items in item ID using len function
unique_items=len(purchase_df["Item ID"].unique())
unique_items

179

In [50]:
#calculating average price using mean fucntion
average_price=purchase_df["Price"].mean()
average_price
#formatting the output as to have $ sign and two decimal points
price_format= "${0:.2f}"
average_price_format=price_format.format(average_price)
average_price_format

'$3.05'

In [51]:
#calculating number of purchases using purchase ID with count function
purchase_number=purchase_df["Purchase ID"].count()
purchase_number

780

In [52]:
#calculating total revenue using sum
total_revenue=purchase_df["Price"].sum()
total_revenue
#formatting the output as to have $ sign and two decimal points
revenue_format= "${0:.2f}"
total_revenue_format=revenue_format.format(total_revenue)
total_revenue_format

'$2379.77'

In [53]:
#creating new dataframe for the purchase analysis
purchase_analysis_df=pd.DataFrame({"Number of Unique Items":[unique_items],
                                  "Average Price":  [average_price_format],
                                  "Number of Purchases":[purchase_number],
                                  "Total Revenue":  [total_revenue_format]})
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [54]:
#calculating male, female, other/ non-disclosed counts using groupby function
gender_df = purchase_df.groupby(['Gender'])
gender_df


gender_counts=gender_df.nunique()["SN"]
gender_counts_df=pd.DataFrame(gender_counts)
gender_counts_df

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

In [55]:
#calculating male, female, other/ non-disclosed percentage using groupby function
player_percent=(gender_counts/total_players) * 100
player_percent

player_percent_df=pd.DataFrame(player_percent)
player_percent_df

                              SN
Gender
Female                 14.062500
Male                   84.027778
Other / Non-Disclosed   1.909722

In [56]:
#merging counts and percentage dataframe based on gender
merge_df = pd.merge(gender_counts_df, player_percent_df, on="Gender")
merge_df

                       SN_x       SN_y
Gender
Female                   81  14.062500
Male                    484  84.027778
Other / Non-Disclosed    11   1.909722

In [57]:
#renaming the columns
gender_demo_df = merge_df.rename(columns={"SN_x":"Total Count", "SN_y":"Percentage of Players"})
#formatting the percentage
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)
gender_demo_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Display the summary data frame

In [58]:
#calculating purchase count using groupby function
gender_df = purchase_df.groupby(['Gender'])

purchase_count=gender_df["Purchase ID"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [59]:
#calculating average purchase price
average_purchase=gender_df["Price"].mean()
average_purchase

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [60]:
#calculating total purchase value
total_purchase=purchase_count * average_purchase
total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
dtype: float64

In [61]:
#calculating average purchase total per person
person_purchase=total_purchase/gender_counts
person_purchase

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [62]:
#creating a new dataframe with the calculated values
gender_analysis_df=pd.DataFrame({"Purchase Count": purchase_count,
                                "Average Purchase Price": average_purchase,
                                "Total Purchase Value": total_purchase,
                                "Avg Total Purchase per Person": person_purchase})
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [63]:
#data cleaner formatting and final analysis output
gender_analysis_df["Average Purchase Price"] = gender_analysis_df["Average Purchase Price"].astype(float).map("$ {:,.2f}".format)
gender_analysis_df["Total Purchase Value"] = gender_analysis_df["Total Purchase Value"].astype(float).map("$ {:,.2f}".format)
gender_analysis_df["Avg Total Purchase per Person"] = gender_analysis_df["Avg Total Purchase per Person"].astype(float).map("$ {:,.2f}".format)
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$ 3.20,$ 361.94,$ 4.47
Male,652,$ 3.02,"$ 1,967.64",$ 4.07
Other / Non-Disclosed,15,$ 3.35,$ 50.19,$ 4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Display Age Demographics Table

In [64]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [65]:
# Create the bins in which Data will be held  
bins = [0,9,14,19,24,29,34,39,100]

# Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorizing the existing players using the age bins using pd.cut()
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels=group_names, include_lowest=True)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [66]:
#grouopby age group for further analysis
age_group=purchase_df.groupby(["Age Group"])

age_group_df = purchase_df.set_index("Age Group")
age_group_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Group,,,,,,,
20-24,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
40+,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
20-24,2,Ithergue48,24,Male,92,Final Critic,4.88
20-24,3,Chamassasya86,24,Male,100,Blindscythe,3.27
20-24,4,Iskosia90,23,Male,131,Fury,1.44

In [67]:
#calculating number based on age groups
age_count=age_group["SN"].nunique()
age_count

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [68]:
#calculating percentage based on age groups
age_percent=(age_count/total_players)*100
age_percent

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [69]:
#Creating a summary data frame to hold the results and data cleaner formatting
age_demo_df=pd.DataFrame({"Total Count": age_count,
                         "Percentage of Players": age_percent})
age_demo_df
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)
age_demo_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Display the summary data frame

In [70]:
#calculating purchase count based on age group
purchaseage_count=age_group["Purchase ID"].count()
purchaseage_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [71]:
#calculating average purchase price based on age group
averageage_purchase=age_group["Price"].mean()
averageage_purchase

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [72]:
#calculating total purchase price based on age group
totalage_purchase=age_group["Price"].sum()
totalage_purchase

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [73]:
#calculating avg. purchase total per person based on age group
avgage_purchase=totalage_purchase/age_count
avgage_purchase

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [74]:
#Creating a summary data frame to hold the results and data cleaner formatting
age_analysis_df=pd.DataFrame({"Purchase Count": purchaseage_count,
                                "Average Purchase Price": averageage_purchase,
                                "Total Purchase Value": totalage_purchase,
                                "Avg Total Purchase per Person":avgage_purchase })
age_analysis_df
age_analysis_df["Average Purchase Price"] = age_analysis_df["Average Purchase Price"].astype(float).map("$ {:,.2f}".format)
age_analysis_df["Total Purchase Value"] = age_analysis_df["Total Purchase Value"].astype(float).map("$ {:,.2f}".format)
age_analysis_df["Avg Total Purchase per Person"] = age_analysis_df["Avg Total Purchase per Person"].astype(float).map("$ {:,.2f}".format)
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$ 3.35,$ 77.13,$ 4.54
10-14,28,$ 2.96,$ 82.78,$ 3.76
15-19,136,$ 3.04,$ 412.89,$ 3.86
20-24,365,$ 3.05,"$ 1,114.06",$ 4.32
25-29,101,$ 2.90,$ 293.00,$ 3.81
30-34,73,$ 2.93,$ 214.00,$ 4.12
35-39,41,$ 3.60,$ 147.67,$ 4.76
40+,13,$ 2.94,$ 38.24,$ 3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Display a preview of the summary data frame

In [75]:
#Groupby main dataframe by SN
sn_df = purchase_df.groupby('SN')

sn_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [76]:
#calculating purchase count based on SN
snpurchase_counts=sn_df["Purchase ID"].count()
snpurchase_counts

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [77]:
#calculating average purchase price based on SN
avg_purchase_price=sn_df["Price"].mean()
avg_purchase_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [78]:
#calculating total purchase price based on SN
total_purchase_value=sn_df["Price"].sum()
total_purchase_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [79]:
#Creating a summary data frame to hold the results 
sn_summary_df=pd.DataFrame({"Purchase Count": snpurchase_counts,
                           "Average Purchase Price": avg_purchase_price,
                           "Total Purchase Value": total_purchase_value})
#Sorting the total purchase value column in descending order
sn_summary_df=sn_summary_df.sort_values(by= ["Total Purchase Value"], ascending=False)

#data cleaner formatting
sn_summary_df["Average Purchase Price"] =sn_summary_df["Average Purchase Price"].astype(float).map("$ {:,.2f}".format)
sn_summary_df["Total Purchase Value"] = sn_summary_df["Total Purchase Value"].astype(float).map("$ {:,.2f}".format)
sn_summary_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                 $ 3.79              $ 18.96
Idastidru52               4                 $ 3.86              $ 15.45
Chamjask73                3                 $ 4.61              $ 13.83
Iral74                    4                 $ 3.41              $ 13.62
Iskadarya95               3                 $ 4.37              $ 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Display a preview of the summary data frame

In [80]:
#Retrieving the Item ID, Item Name, and Item Price columns
popular_items=purchase_df[["Item ID", "Item Name", "Price"]]
popular_items.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [81]:
#Groupby Item ID and Item Name
popular_groups=popular_items.groupby(["Item ID", "Item Name"])
popular_groups.head()

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
764      113                          Solitude's Reaver   4.07
765      130                                      Alpha   2.07
766       58          Freak's Bite, Favor of Holy Might   4.14
777       67      Celeste, Incarnation of the Corrupted   3.46
779       50                                       Dawn   4.60

[690 rows x 3 columns]

In [82]:
#calculating purchase count
item_count=popular_groups["Item ID"].count()
item_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item ID, Length: 179, dtype: int64

In [83]:
#calculating purchase value
item_purchase_value=(popular_groups["Price"].sum())
item_purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [84]:
#calculating average item price
item_price=popular_groups["Price"].mean()
item_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [85]:
#Creating a summary data frame to hold the results
item_summary_df=pd.DataFrame({"Purchase Count": item_count,
                           "Item Price": item_price,
                           "Total Purchase Value": item_purchase_value})
#Sorting the purchase count column in descending order
item_summary_df=item_summary_df.sort_values(by= ["Purchase Count"], ascending=False)
item_summary_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [86]:
#Sorting the total purchase value in descending order
profit_summary_df=item_summary_df.sort_values(by= ["Total Purchase Value"], ascending=False)
profit_summary_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80

In [87]:
#data cleaner formatting and final analysis output
item_summary_df["Item Price"] =item_summary_df["Item Price"].astype(float).map("$ {:,.2f}".format)
item_summary_df["Total Purchase Value"] = item_summary_df["Total Purchase Value"].astype(float).map("$ {:,.2f}".format)
item_summary_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$ 4.61,$ 59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
132,Persuasion,9,$ 3.22,$ 28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$ 3.53,$ 31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Display a preview of the data frame

In [88]:
#data cleaner formatting and final analysis output for most profitable items
profit_summary_df["Item Price"] =profit_summary_df["Item Price"].astype(float).map("$ {:,.2f}".format)
profit_summary_df["Total Purchase Value"] = profit_summary_df["Total Purchase Value"].astype(float).map("$ {:,.2f}".format)
profit_summary_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$ 4.61,$ 59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
82,Nirvana,9,$ 4.90,$ 44.10
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
103,Singed Scalpel,8,$ 4.35,$ 34.80